.usuario-nombre{
    margin: 10px;
    text-align: center;
    padding: 0px 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #FAFAFA;
}


.usuario-nombre span{
    font-weight: bold;
}

.card-header{
    padding-bottom: 0px;
}

.usuario-info{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    margin-bottom: 10px;
}

.usuario-options{
    border-radius: 2px;
}

.btn--bg-white{
    background-color: white;
}

.input-group-text{
    background-color: ghostwhite;
}

.card{
    margin: 10px;
}

.input-fecha{
    background-color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    margin-left: 5px;
    width: 160px;
}

.input-fecha:disabled{
    background-color: #e9ecef;
}

.card-title{
    padding-top: 10px;
    text-align: center;
}

.carta-success{
    background-color: #8CFFAB;
}

.carta-perdida{
    background-color: #FCD9D9;
}